@charset "UTF-8";



body{
    position: relative;
    background: salmon;
    margin: 0px;
    padding: 0px;
}


#container{
    background-image: url(/imagens/porta.jpg);
    position: absolute;
    background: rgb(114, 250, 205);
    width: 200px;
    height: 200px;
}

#conteudo{
    background: url(/imagens/porta.jpg);
}
