@charset "UTF-8";



*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: rgb(95, 113, 97);
}

body, html{
    background-color: rgb(208, 201, 192);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;


    background-color: rgb(239, 234, 216);
    width: 270px;
    height: 590px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.507) ;

    transform: translate(-50%,-50%);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background:  burlywood url(../imagens/porta.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 330px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}


div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 15px;

}

form > div.campo{
    margin-bottom: 8px;
    
}

div.campo > input{
    display: block;
    border-radius: 10px;
    border: none;
    height: 25px;
    width: 70%;
    text-align: center;
    margin: auto;

}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 70%;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: rgb(208, 201, 192);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

form > input[type=submit]:hover{
    background-color: rgb(175, 169, 162);
    
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 0.7em;

    cursor: pointer;
    

}